# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: GitHub Pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    permissions:
      id-token: write
      pages: write

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
        cache-dependency-path: ./app/package-lock.json
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: "./app/dist"
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
